/* Header Styles */
.header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-top: 5px solid #600414;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
  }
  
  .header.visible {
    animation: slideInDown 0.3s ease; /* Animation for showing */
    transform: translateY(0); /* Visible state: no transformation */
  }
  
  .header.hidden {
    animation: slideOutUp 0.3s ease; /* Animation for hiding */
    transform: translateY(-105%); /* Hidden state: moved up */
  }
  
  @keyframes slideInDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes slideOutUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-105%);
    }
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .mobile-menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
  }
  
  .menu-icon {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
  }
  
  .bar {
    background-color: white;
    height: 3px;
    width: 30px;
    margin: 2px 0;
    transition: all 0.3s ease-in-out;
  }
  
  /* Mobile Menu Styles */
  .nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
  }
  
  .logout-link {
    color: #fbbf24;
  }
  
  /* Media Query for Mobile Menu */
  @media (max-width: 768px) {
    .mobile-menu-toggle {
      display: block;
    }
  
    .nav-menu {
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: -100%;
      width: 100%;
      background-color: #333;
      transition: all 0.3s ease-in-out;
    }
  
    .nav-menu.open {
      right: 0;
    }
  
    .nav-link {
      margin-right: 0;
      padding: 10px;
    }
  
    .menu-icon {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  
    .bar {
      width: 25px;
    }
  }
  